body {
	background: #0b0b0b;
	background-image: url(../img/elevatorblur.jpg);
	background-repeat:no-repeat;
	
	/*Taustakuva venyy koko näytölle*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.header {
    background-color:#00497d;
    height:80px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.takaisin img {
	max-width: 100px;
	position: fixed;
		left: 23%;
		top: 65px;
		
}

.dynamit img {
	max-width: 135px;
		position: fixed;
		right: 15%;
		top: 3px;
	z-index: 9999;

}

#dynamo {
    margin-top:20px;
    margin-left:100px;
    border-style:none;
    background-color:#00497d;
    font-size:30px;
    font-weight:800;
    color:white;
    text-shadow: 2px 2px 2px #00004d;
}
#volume {
    border-style: none;
    background-image: url(../img/volumeon.png);
    cursor:pointer;
    position:fixed;
    margin-top:-60px;
    margin-left:70%
}


h1 {
	font-size: 24px;
}

.holder {
/*	position: fixed;
		top: 150px;
		left: 23%;*/
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
	height: 520px;
	width: 1024px;
	border-radius: 10px;
	background-image: url(../img/holder_bg.png);
}

.sisalto {
	color: #ffffff;
	padding: 15px;
	border: 0px;
	border-radius: 10px;
/*	border-style: solid;
	border-color: #00497d;
	box-shadow: 1px 7px 15px -2px #000000;*/
	width: 950px;
	max-height: 520px;
	margin-top: 10px;
	margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 25px;

}

.sisalto img {
	width: 350px;
	border-radius: 5px;
    float: right;
    margin: 6px;
}

.sisalto a {
	color: #e6007e;
}

.navigointi {
	background: none;
	float: left;
	width: auto;
	height: 100%;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;

}

.navigointi ul {
	list-style: none;
	padding: 0px;
}

.navigointi li a {
	text-align:left;
	color: #ffffff;
	text-decoration: none;
}

/* Hissinapin piirtäminen */
.linkki {
	border: 1px;
	border-style: solid;
	border-color: #00497d;
	background: #00497d;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	box-shadow: 1px 8px 15px -2px #000000;
    box-shadow: 4px 3px 3px -4px #ffffff inset;
	padding: 20px;
	margin: 4px;
}

/* Hissinapin sisällön sijoittelu */
.keskitys {
	padding-top: 0px;
	padding-left: 13px;
	font-size: 40px;
}