body {
	background: #0b0b0b;
	background-image: url(../img/library.png);
	background-repeat:no-repeat;
	
	/*Taustakuva venyy koko näytölle*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.header {
	position: fixed;
		top: 0px;
		left: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 1px 5px 15px -2px #000000;
	background-color: #00497d;
	color: #ffffff;
	font-size: 40px;
	padding-left: 23%;
}

.header img {
	position: fixed;
		top: 5px;
		right: 20%;
		width: 40px;
}

.back img {
	max-width: 100px;
	position: fixed;
		left: 23%;
		top: 65px;
		
}

.dynamit img {
	max-width: 135px;
		position: fixed;
		right: 15%;
		top: 3px;
	z-index: 9999;

}

h1, h2 {
	font-size: 25px;
    font-family: calibri, arial;
}

.holder {
/*	position: fixed;
		top: 150px;
		left: 23%;*/
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
	height: 520px;
	width: 1024px;
	border-radius: 10px;
	background-image: url(../img/holder_bg.png);
}

.content {
	color: #ffffff;
	padding: 15px;
	border: 0px;
	border-radius: 10px;
/*	border-style: solid;
	border-color: #00497d;
	box-shadow: 1px 7px 15px -2px #000000;*/
	width: 950px;
	max-height: 520px;
	margin-top: 10px;
	margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 25px;

}


.content a {
	color: #e6007e;
}

.left {
    width: 450px;
    float:left;
}



.right {
    width: 450px;
    float: right;
}

.text {
    float: left;
    width: 400px;    
}

.left img {
    float: left;
    width: 300px;
    margin: 40px 0px 0px 0px;
    border-radius: 5px;
}

.right img {
    float: left;
    width: 300px;
    margin: 6px;
    border-radius: 5px;
}


