body {
	background-image: url(../img/library.png);

}




.text {
    float: left;
    width: 400px;
    margin-left: 40px;
}


.right-top-pic {
    float: left;
    position: absolute;
    margin-left: 580px;
    margin-top: -10px;
    
}

.right-bottom-pic {
    float: left;
    position: absolute;
    margin-left: 580px;
    margin-top: 240px;
}


.left-bottom-pic {
    width: 350px;
    position: absolute;
    float: left;
    margin-top: 240px;
    margin-left: 40px;
}

#books {
    width: 320px;
}

#open {
    width: 320px;
}

#computer {
    width: 320px;
}



