* {
  margin: 0;
  padding: 0;
}
body {
  /*background-color: #EBF4F7;*/
  background-image: url('../img/jamk_promo.jpg');
  background-size: cover;
}

.header {
  background-color: #00497d;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 1px 5px 15px -2px #000000;
	color: #ffffff;
	font-size: 40px;
	padding-left: 23%;
}

.header img {
	position: fixed;
		top: 5px;
		right: 20%;
		width: 40px;
}

.back img {
	max-width: 100px;
	position: fixed;
		left: 23%;
		top: 65px;

}

.dynamit img {
	max-width: 135px;
		position: fixed;
		right: 15%;
		top: 3px;
	z-index: 9999;

}

h1 {
	font-size: 25px;
}

.holder {
/*	position: fixed;
		top: 150px;
		left: 23%;*/
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
	height: 520px;
	width: 1024px;
	border-radius: 10px;
	background-image: url(../img/holder_bg.png);
}

.content {
	color: #ffffff;
	padding: 15px;
	border: 0px;
	border-radius: 10px;
/*	border-style: solid;
	border-color: #00497d;
	box-shadow: 1px 7px 15px -2px #000000;*/
	width: 950px;
	max-height: 520px;
	margin-top: 10px;
	margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 25px;

}


.content a {
	color: #e6007e;
}

.left {
    width: 450px;
    float:left;
}

.right {
    width: 450px;
    float: right;
}

.text {
    float: left;
    width: 400px;
}

.left img {
    float: left;
    width: 300px;
    margin: 40px 0px 0px 0px;
    border-radius: 5px;
}

.right img {
    float: left;
    width: 300px;
    margin: 6px;
    border-radius: 5px;
}

#highlight_wrap {
  position: relative;
  top: 0;
  margin: auto;
  width: 5652px;
  height: 611px;
}

#highlight_restaurant {
  position: absolute;
  opacity: 0;
  top: 52px;
  left: 4464px;
  height: 441px;
  width: 682px;
  background-image: url('../img/panorama/highlight_restaurant.png');
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#highlight_library {
  position: absolute;
  opacity: 0;
  top: 240px;
  left: 3989px;
  height: 214px;
  width: 352px;
  background-image: url('../img/panorama/highlight_library.png');
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#highlight_elevator {
  position: absolute;
  opacity: 0;
  top: 76px;
  left: 2541px;
  height: 534px;
  width: 1115px;
  background-image: url('../img/panorama/highlight_elevator.png');
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#highlight_auditorium {
  position: absolute;
  opacity: 0;
  top: 180px;
  left: 308px;
  height: 376px;
  width: 498px;
  background-image: url('../img/panorama/highlight_auditorium.png');
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.is-visible {
  opacity: 0.8!important;
}

.label {}

.label_highlight {
  color: white;
}

#label_restaurant {
  position: absolute;
  top: 250px;
  left: 4700px;
}

#label_library {
  position: absolute;
  top: 320px;
  left: 4100px;
}

#label_elevator {
  position: absolute;
  top: 300px;
  left: 3075px;
}

#label_auditorium {
  position: absolute;
  top: 300px;
  left: 470px;
}
