* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow: hidden;
}

#aula {
  height: 100vh;
}

 /* Display hand cursor */
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
