* {
	margin: 0;
	padding: 0;
}

body {
	font-family: calibri, arial;
	background: #fff;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-image: url(../img/ulkokuvablur.jpg);
}

header {
	padding-top: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 1px 5px 15px -2px #000000;
	background-color: #00497d;
	color: #ffffff;
	font-size: 40px;
}

#headerwrap {
	width: 1024px;
	height: 50px;
	margin: auto;
}

header h1 {
    margin-left:430px;
	font-family: calibri, sans-serif;
	font-size: 32px;
	color: white;
	float: left;
	display: inline;
    text-shadow: 2px 2px 2px black;
}

/* valikko */
.menu {
    clear:both;
    width:400px;
    height:450px;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15%;
    opacity:0.9;
    display:none;
}
/*Aloitus-laatikko*/
.menu1 {
	float:left;
    width: 200px;
    height:75px;
    margin-left:100px;
    margin-top:50px;
    background-color:#00497d;
    box-shadow:5px 5px 5px;
	border-radius:10px;
	box-shadow: 0px 0px 4px 4px #a6a6a6;
}
/*tekij채t-laatikko*/
.menu2 {
	float:left;
    width: 200px;
    height:75px;
    margin-left:100px;
    margin-top:35px;
    background-color:#00497d;
    box-shadow:bottom 5px;
    box-shadow: 5px 5px 5px;
	border-radius:10px;
	box-shadow: 0px 0px 4px 4px #a6a6a6;
}
/*tekstidiv*/
.menu3 {
	float:left;
    width: 300px;
    height:160px;
    margin-left:50px;
    margin-top:30px;
    border-radius:15px;
}
/*1. menun teksti*/
.menutext1 {
    padding-top:25px;
	font-size:20px;
    font-weight:800;
	height:75px;
    text-shadow: 2px 2px 2px black;
    border-style:none;
    text-align:center;
    color:white;
    cursor:pointer;
}
.menutext1:hover {
    color:#e6007e;
} /*2. menun teksti*/
.menutext2 {
    font-size:20px;
    text-align:center;
    text-align:center;
    color:#FFFFFF;
}
/*tekij채t-ikkuna*/
#tekij채t {
    width:920px;
    height:700px;
    background-image:url(../img/holder_bg.png);
	/*background: rgba(51, 51, 51, .7);*/
    border-radius:10px;
    display:none;
    margin-left:25%;
    margin-top:150px;
	box-shadow: 0px 0px 2px 2px #a6a6a6;
	opacity:1.0;
}
/*backnuoli*/
#back {
    cursor:pointer;
    float:left;
    margin-top:-90;
}
/*jokaisen kuva ja esittelyikkunat*/
#erika {
    margin-top:25px;
    margin-left:60px;
	cursor:pointer;
    border-radius:10px;
}
#erikainfo {
    width:600px;
    height:300px;
    margin-top:-520px;
    margin-left:640px;
    background-image: url(../img/holder_bg.png);
    border-radius:10px;
    display:none;
    position:absolute;
}
#juhani {
    margin-top:25px;
    margin-left:100px;
	cursor:pointer;
    border-radius:10px;
}
#juhaninfo {
    width:600px;
    height:300px;
    margin-top:-520px;
    margin-left:640px;
    background-image: url(../img/holder_bg.png);
    border-radius:10px;
    display:none;
    position:absolute;
    border:solid 2px black;
}
#janne {
    float:right;
    margin-top:25px;
    margin-right:60px;
	cursor:pointer;
    border-radius:10px;
}
#janneinfo {
    width:600px;
    height:300px;
    margin-top:-520px;
    margin-left:640px;
    background-image: url(../img/holder_bg.png);
    border-radius:10px;
    display:none;
    position:absolute;
    border:solid 2px black;
}
#kalle {
    margin-top:45px;
    margin-left:60px;
	cursor:pointer;
    border-radius:10px;
}
#kalleinfo {
    width:600px;
    height:300px;
    margin-top:-520px;
    margin-left:640px;
    background-image: url(../img/holder_bg.png);
    border-radius:10px;
    display:none;
    position:absolute;
    border:solid 2px black;
}
#maiju {
    margin-top:40px;
    margin-left:100px;
	cursor:pointer;
    border-radius:10px;
}
#maijuinfo {
    width:600px;
    height:300px;
    margin-top:-520px;
    margin-left:640px;
    background-image: url(../img/holder_bg.png);
    border-radius:10px;
    display:none;
    position:absolute;
    border:solid 2px black;
}
#mikko {
    float:right;
    margin-right:60px;
    margin-top:45px;
	cursor:pointer;
    border-radius:10px;
}
#mikkoinfo {
    width:600px;
    height:300px;
    margin-top:-520px;
    margin-left:640px;
    background-image: url(../img/holder_bg.png);
    border-radius:10px;
    display:none;
    position:absolute;
    border:solid 2px black;
}
.tekij채tfont {
    color: #FFFFFF;
    font-size:15px;
    padding-left:10px;
    padding-top:10px;
}
/*esittelyikkunan backnuoli*/
.close {
	cursor:pointer;
	padding:5px;
    margin-left:550px;
}
/*hoverit*/
.picshadow {
	box-shadow: 0px 0px 4px 4px #a6a6a6;
}
/*hoverit*/
.shadow {
	box-shadow:0px 0px 10px 10px #ddd;
}

#back:hover {
    -webkit-filter: drop-shadow(2px 2px 5px #FFFFFF);
}

.dynamite {
    margin-top:-200px;
    margin-left:200px;
    display:none;
}