.left_content{
  max-height: 520px;
  width: 395px;
	padding-left: 10px;
	float: left;
}

.right_content{
  float: left;
	max-height: 520px;
  width: 395px;
  margin-left: 20px;
  padding-left: 10px;
}

.content h1 {
	margin-bottom: 10px;
	font-size: 32px;
  text-align: center;
}

.content_pic {
  background-image: url(./img/floor2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
	width: 400px;
  height: 222px;
	border-radius: 5px;
  margin-top: 40px;
  margin-left: 20px;
  float: left
}
