.content{
    height:490px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.leftup {
	float:left;
  height: 235px;
  width: 395px;
  margin-top: 0px;
  border-radius: 10px;

}

.rightup {
  float:right;
  height: 235px;
  width: 395px;
  margin-top: 0px;
  text-align:center;
  background-image: url("../img/Math.png");
background-repeat: no-repeat;
  background-size: contain;
}

.leftdown {
	float:left;
  height: 235px;
  width: 395px;
  margin-top: 0px;
	background-image: url("../img/adobekuvat.png");
  border-radius: 10px;
  background-repeat: no-repeat;
    background-size: contain;
}

.rightdown{
  float:right;
  height: 235px;
  width: 395px;
  margin-top: 0px;
  border-radius: 10px;
  text-align: center;
}
.leftdown:hover{
    -webkit-filter: drop-shadow(2px 2px 4px #FFFFFF);
}
.rightup:hover{
    -webkit-filter: drop-shadow(2px 2px 4px #FFFFFF);
}
