.leftup_3 {
    float:left;
  height: 245px;
  width: 395px;
}

.rightup_3 {
  float:left;
  height: 245px;
  width: 395px;
  text-align:center;
}

.leftdown_3 {
	float:left;
  height: 245px;
  width: 395px;
  margin-top: 0px;
background-image: url(../img/floo3computers.png);
background-repeat: no-repeat;
  background-size:cover;
    z-index: -1;
}
.leftdown_3:hover{
    -webkit-filter: drop-shadow(2px 2px 4px #FFFFFF);
}

.rightdown_3{
  float:left;
  height: 245px;
  width: 395px;
  margin-top: 0px;
  border-radius: 10px;
  text-align: center;
    background-size:contain;
}

/*SYDÄMMEN PIIRTO*/
.heart {
  background-color: #e6007e;
  display: inline-block;
  height: 90px;
  margin:50px;
  margin-left: 50px;
  position:inherit;
  top: 0;
  transform: rotate(-45deg);
  width: 90px;
}

.heart:before, .heart:after {
  content: "";
  background-color: #e6007e;
  border-radius: 50%;
  height: 90px;
  position: absolute;
  width: 90px;
}

.heart:before {
  top: -50px;
  left: 0;
}

.heart:after {
  left: 50px;
  top: 0;
}
.heart:hover{
    -webkit-filter: drop-shadow(2px 2px 4px #FFFFFF);
}


/*TOGGLE KOKEILUJA*/
