.content{
    height:490px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#otsikko {
    text-align: center;
    width: 980px;
}
.leftup_3 {
    float:left;
  height: 235px;
  width: 395px;
}

.rightup_3 {
  float:right;
  height: 235px;
  width: 395px;
    background-image: url(../img/dualmonitors.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.leftdown_3 {
	float:left;
  height: 235px;
  width: 395px;
/*background-image: url(../img/floo3computers.png); 
background-repeat: no-repeat;
  background-size:contain;
  position: relative;
    cursor: pointer;*/
}
.leftdown_3:hover{
    -webkit-filter: drop-shadow(2px 2px 4px #FFFFFF);
}

.rightdown_3{
  float:right;
  height: 235px;
  width: 395px;
  text-align: center;
    background-size:contain;
}

/*SYDÄMMEN PIIRTO*/
.heart {
  background-color: #e6007e;
  display: inline-block;
  height: 90px;
  margin:50px;
  margin-left: 50px;
  position:inherit;
  top: 0;
  transform: rotate(-45deg);
  width: 90px;
}

.heart:before, .heart:after {
  content: "";
  background-color: #e6007e;
  border-radius: 50%;
  height: 90px;
  position: absolute;
  width: 90px;
}

.heart:before {
  top: -50px;
  left: 0;
}

.heart:after {
  left: 50px;
  top: 0;
}
.heart:hover{
    -webkit-filter: drop-shadow(2px 2px 4px #FFFFFF);
}


/*TOGGLE KOKEILUJA*/
#floorpopup {
  margin-left:100px;
  margin-top:50px;
  background-color:pink;
  opacity:0.95;
  border-radius:10px;
  width:750px;
  height:500px;
  display:none;
  position:absolute;
}
#paina {
    position: absolute;
    cursor: pointer;
}
