* {
	margin: 0;
	padding: 0;
}

#menubg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/ulkokuvablur.jpg");
	background-size: cover;
}

#restaurantbg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/ruokala.jpg");
	background-size: cover;
}

#floorsbg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/elevatorblur.jpg");
	background-size: cover;
    margin-top: 0px;
}

/*BACK BUTTON*/
#backfloor {
	margin-top: 70px;
    margin-left: 450px;
    margin-bottom: 0px;
}

#librarybg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/library.png");
	background-size: cover;
}

body {
	font-family: calibri, arial;
	/*background: #fff;
	background-image: url(../../img/ulkokuvablur.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

header {
	padding-top: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 1px 5px 15px -2px #000000;
	background-color: #00497d;
	color: #ffffff;
	font-size: 40px;
}

#headerwrap {
	width: 1024px;
	height: 50px;
	margin: auto;
}

header h1 {
	font-family: calibri, sans-serif;
	font-size: 32px;
	color: white;
	float: left;
	display: inline;
}

#volume {
    border-style: none;
    margin-top: 10px;
    cursor: pointer;
    display: inline;
    float: right;
}

#menuicon {
	margin-left: 15px;
	margin-top: 7px;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	cursor: pointer;
}

#menuicon:hover {
	-webkit-filter: drop-shadow(1px 1px 2px aliceblue);
}

.header ../img {
	position: fixed;
	top: 5px;
	right: 20%;
	width: 40px;
}

.back {
	margin-top: -115px;
	display: block;
	width: 80px;
	height: 80px;
	float: left;
}

#volume {
  border-style: none;
	margin-top: 10px;
  cursor: pointer;
	display: inline;
	float: left;
}
#volume:hover{
  -webkit-filter: drop-shadow(2px 2px 5px aliceblue);
}

.back ../img {
	width: 80px;
}

#backfloor:hover {
  -webkit-filter: drop-shadow(2px 2px 5px aliceblue);
}

.dynamit {
	height: 198px;
	width: 200px;
	background-image: url("../img/dynamit.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline;
	margin-left: 555px;
    margin-top: 20px;
	float: left;
}

h1 {
	font-size: 24px;
}

.holder {
	padding-top: 20px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
	height: 520px;
	width: 1024px;
	border-radius: 10px;
	background-image: url("../img/holder_bg.png");
}

.content {
	color: #ffffff;
	padding: 15px;
	border: 0px;
	border-radius: 10px;
	width: 950px;
	max-height: 520px;
	margin-top: 10px;
	margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 25px;
}

.content h1 {
	margin-bottom: 10px;
	font-size: 32px;
}

.content ../img {
	width: 350px;
	border-radius: 5px;
  margin: 6px;
}

.content a {
	color: #e6007e;
}

.nav {
	background: none;
	float: left;
	width: auto;
	height: 100%;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;

}

.nav ul {
	list-style: none;
	padding: 0px;
}

.nav li a {
	text-align:left;
	color: #ffffff;
	text-decoration: none;
}

.button_elevator {
	border: 1px;
	border-style: solid;
	border-color: #00497d;
	background: #00497d;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	box-shadow: 1px 8px 15px -2px #000000;
  box-shadow: 4px 3px 3px -4px #ffffff inset;
	padding: 20px;
	margin: 4px;
}

.button_elevator:hover {
	background: #e6007e;
	border-color: #e6007e;
	box-shadow: 4px 3px 3px -4px #E3F1FA inset;
	color: #C4DFF2;
}

.button_isactive {
	background: #e6007e;
	border-color: #e6007e;
	box-shadow: 4px 3px 3px -4px #E3F1FA inset;
	color: #C4DFF2;
}

.center {
	padding-top: 0px;
	padding-left: 13px;
	font-size: 40px;
}
.dynamit:hover {
    -webkit-filter: drop-shadow(2px 2px 5px #FFFFFF);
    background-image: url(/app/img/dynamitsuprise.png);
}
