* {
	margin: 0;
	padding: 0;
}

#logo {
	cursor: pointer;
}

#logo:hover {
	color: #EBFAFF;
	text-shadow: 1px 1px 2px #999;
}

#menubg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/ulkokuvablur_opt.gif");
	background-size: cover;
}

#auditoriumbg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/auditorium_bg.JPG");
	background-size: cover;
}

#lobbybg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/ulkokuvablur.jpg");
	background-size: cover;
}

#restaurantbg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/ruokala.jpg");
	background-size: cover;
}

#floorsbg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/elevatorblur.jpg");
	background-size: cover;
  margin-top: 0px;
}

/*BACK BUTTON*/
#backfloor {
	float: left;
	margin-top: 40px;
}

#librarybg {
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/library.jpg");
	background-size: cover;
}

body {
	font-family: calibri, arial;
}

header {
	padding-top: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 1px 5px 15px -2px #000000;
	background-color: #00497d;
	color: #ffffff;
	font-size: 40px;
}

#headerwrap {
	width: 1024px;
	height: 50px;
	margin: auto;
}

header h1 {
	font-family: calibri, sans-serif;
	font-size: 32px;
	color: white;
	float: left;
	display: inline;
}

.under_header {
	margin-top: 60px;
	height: 185px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

#volume {
  border-style: none;
  margin-top: 10px;
  cursor: pointer;
  display: inline;
  float: right;
}

#menuicon {
	margin-left: 15px;
	margin-top: 7px;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	cursor: pointer;
}

#menuicon:hover {
	-webkit-filter: drop-shadow(1px 1px 2px aliceblue);
}

.header img {
	position: fixed;
	top: 5px;
	right: 20%;
	width: 40px;
}

.back {
	margin-top: -115px;
	display: block;
	width: 80px;
	height: 80px;
	float: left;
}

#volume {
  border-style: none;
	margin-top: 10px;
  cursor: pointer;
	display: inline;
	float: right;
}
#volume:hover{
  -webkit-filter: drop-shadow(2px 2px 5px aliceblue);
}

.back img {
	width: 80px;
}

#backfloor:hover {
  -webkit-filter: drop-shadow(2px 2px 5px aliceblue);
}

.dynamit,
.dynamit-alt {
	height: 200px;
	width: 100px;
	background-image: url("../img/dynamit.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline;
	margin-right: 100px;
	float: right;
}

.dynamit-alt:hover,
.dynamit:hover {
	-webkit-filter: drop-shadow(2px 2px 5px #FFFFFF);
}
.dynamit-alt:hover {
	background-image: url(../img/dynamitohno.png);
}
.dynamit:hover {
	background-image: url(../img/dynamitsuprise.png);
}

.bubble {
	opacity: 0;
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	width: auto;
	height: auto;
	background: rgba(0,0,0, 0.7);
	padding: 20px;
	border-radius: 20px 20px 5px 20px;
	border: 3px solid white;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(0.42, 0, 0.56, 1.21);
	transform: scale(0);
 	transform-origin: bottom right;
}

.bubble-is-open {
	opacity: 1;
	transform: scale(1);
}

.bubble p {
	color: white;
}

h1 {
	font-size: 24px;
}

.holder {
	padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
	height: 520px;
	width: 1024px;
	border-radius: 10px;
	background-image: url("../img/holder_bg.png");
}

.content {
	color: #ffffff;
	padding: 15px;
	border: 0px;
	border-radius: 10px;
	width: 950px;
	max-height: 520px;
	margin-top: 10px;
	margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 25px;
}

.content h1 {
	margin-bottom: 10px;
	font-size: 32px;
}

.content ../img {
	width: 350px;
	border-radius: 5px;
  margin: 6px;
}

.content a {
	color: #e6007e;
	text-decoration: none;
}

.nav {
	background: none;
	float: left;
	width: auto;
	height: 100%;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

.nav ul {
	list-style: none;
	padding: 0px;
}

.nav li a {
	text-align:left;
	color: #ffffff;
	text-decoration: none;
}

.button_elevator {
	border: 1px;
	border-style: solid;
	border-color: #00497d;
	background: #00497d;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	box-shadow: 1px 8px 15px -2px #000000;
  box-shadow: 4px 3px 3px -4px #ffffff inset;
	padding: 20px;
	margin: 4px;
}

.button_elevator:hover {
	background: #e6007e;
	border-color: #e6007e;
	box-shadow: 4px 3px 3px -4px #E3F1FA inset;
	color: #C4DFF2;
}

.button_isactive {
	background: #e6007e;
	border-color: #e6007e;
	box-shadow: 4px 3px 3px -4px #E3F1FA inset;
	color: #C4DFF2;
}

.center {
	padding-top: 0px;
	padding-left: 13px;
	font-size: 40px;
}
