/* valikko */
.menu {
  clear:both;
  width:400px;
  height:450px;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15%;
  opacity:0.9;
  display:none;
}
/*Aloitus-laatikko*/
.menu1 {
	float:left;
  width: 200px;
  height:75px;
  margin-left:100px;
  margin-top:50px;
  background-color:#00497d;
  box-shadow:5px 5px 5px;
	border-radius:10px;
	box-shadow: 0px 0px 4px 4px #a6a6a6;
}
/*tekijät-laatikko*/
.menu2 {
	float:left;
  width: 200px;
  height:75px;
  margin-left:100px;
  margin-top:35px;
  background-color:#00497d;
  box-shadow:bottom 5px;
  box-shadow: 5px 5px 5px;
	border-radius:10px;
	box-shadow: 0px 0px 4px 4px #a6a6a6;
}
/*tekstidiv*/
.menu3 {
	float:left;
  width: 300px;
  height:160px;
  margin-left:50px;
  margin-top:30px;
  border-radius:15px;
}
/*1. menun teksti*/
.menutext1 {
  padding-top:25px;
	font-size:20px;
  font-weight:800;
	height:75px;
  text-shadow: 2px 2px 2px black;
  border-style:none;
  text-align:center;
  color:white;
  cursor:pointer;
}
.menutext1:hover {
  color:#e6007e;
} /*2. menun teksti*/
.menutext2 {
  font-size:20px;
  text-align:center;
  text-align:center;
  color:#FFFFFF;
}
/*tekijät-ikkuna*/
#tekijät {
  width:920px;
  height:700px;
  background-image:url(../img/holder_bg.png);
	/*background: rgba(51, 51, 51, .7);*/
  border-radius:10px;
  display:none;
  margin-left:25%;
  margin-top:150px;
	box-shadow: 0px 0px 2px 2px #a6a6a6;
	opacity:1.0;
}
/*backnuoli*/
#back {
  cursor:pointer;
  float:left;
  margin-top:-90;
}
/*jokaisen kuva ja esittelyikkunat*/
#erika {
  margin-top:25px;
  margin-left:60px;
	cursor:pointer;
  border-radius:10px;
}
#erikainfo {
  width:600px;
  height:300px;
  margin-top:-520px;
  margin-left:640px;
  background-image: url(../img/holder_bg.png);
  border-radius:10px;
  display:none;
  position:absolute;
}
#juhani {
  margin-top:25px;
  margin-left:100px;
	cursor:pointer;
  border-radius:10px;
}
#juhaninfo {
  width:600px;
  height:300px;
  margin-top:-520px;
  margin-left:640px;
  background-image: url(../img/holder_bg.png);
  border-radius:10px;
  display:none;
  position:absolute;
  border:solid 2px black;
}
#janne {
  float:right;
  margin-top:25px;
  margin-right:60px;
	cursor:pointer;
  border-radius:10px;
}
#janneinfo {
  width:600px;
  height:300px;
  margin-top:-520px;
  margin-left:640px;
  background-image: url(../img/holder_bg.png);
  border-radius:10px;
  display:none;
  position:absolute;
  border:solid 2px black;
}
#kalle {
  margin-top:45px;
  margin-left:60px;
	cursor:pointer;
  border-radius:10px;
}
#kalleinfo {
  width:600px;
  height:300px;
  margin-top:-520px;
  margin-left:640px;
  background-image: url(../img/holder_bg.png);
  border-radius:10px;
  display:none;
  position:absolute;
  border:solid 2px black;
}
#maiju {
  margin-top:40px;
  margin-left:100px;
	cursor:pointer;
  border-radius:10px;
}
#maijuinfo {
  width:600px;
  height:300px;
  margin-top:-520px;
  margin-left:640px;
  background-image: url(../img/holder_bg.png);
  border-radius:10px;
  display:none;
  position:absolute;
  border:solid 2px black;
}
#mikko {
  float:right;
  margin-right:60px;
  margin-top:45px;
	cursor:pointer;
  border-radius:10px;
}
#mikkoinfo {
  width:600px;
  height:300px;
  margin-top:-520px;
  margin-left:640px;
  background-image: url(../img/holder_bg.png);
  border-radius:10px;
  display:none;
  position:absolute;
  border:solid 2px black;
}
.tekijätunderline {
  color: #FFFFFF;
  font-size:15px;
  padding-left:10px;
  padding-top:10px;
  text-decoration:underline;
  font-weight: 700;
}
.tekijätfont {
  color: #FFFFFF;
  font-size:15px;
  padding-left:10px;
  padding-top:10px;
}
/*esittelyikkunan backnuoli*/
.close {
	cursor:pointer;
	padding:5px;
  margin-left:550px;
}
/*hoverit*/
.picshadow {
	box-shadow: 0px 0px 4px 4px #a6a6a6;
}
/*hoverit*/
.shadow {
	box-shadow:0px 0px 10px 10px #ddd;
}

#back:hover {
  -webkit-filter: drop-shadow(2px 2px 5px #FFFFFF);
}

.dynamite {
    display:none;
}
