.rmdynamit {
	height: 200px;
	width: 100px;
	background-image: url("../img/dynamit.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline;
	margin-right: 500px;
    margin-top:50px;
	float: right;
}

.rmdynamit:hover {
    -webkit-filter: drop-shadow(2px 2px 5px #FFFFFF);
    background-image: url(../img/dynamitsuprise.png);
}

.bubble {
	opacity: 0;
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	width: auto;
	height: auto;
	background: rgba(0,0,0, 0.7);
	padding: 20px;
	border-radius: 20px 20px 5px 20px;
	border: 3px solid white;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(0.42, 0, 0.56, 1.21);
	transform: scale(0);
 	transform-origin: bottom right;
}

.bubble-is-open {
	opacity: 1;
	transform: scale(1);
}

.bubble p {
	color: white;
}

#rback {
    margin-top:50px;
    margin-left:400px;
    cursor:pointer;
    
}
#rback:hover {
  -webkit-filter: drop-shadow(2px 2px 5px #FFFFFF);
}
#shirt {
  position: absolute;
  top: 402px;
  left: 922px;
  cursor:pointer;
}

#dsodexo {
  margin-left:100px;
  margin-top:50px;
  background-color:#FFF;
  opacity:0.95;
  border-radius:10px;
  width:750px;
  height:500px;
  display:none;
  box-shadow: 0px 0px 5px 5px #00497d;
  position:absolute;
}

#slogo {
  padding-left:20px;
}

#cook2 {
  width:300px;
  height:400px;
  margin-top:30px;
  background-image: url("../img/cook_das.png");
  background-repeat: no-repeat;
}
#info {
  width:450px;
  height:410px;
  float:right;
  margin-top:-425px;
  margin-right:15px;
  box-shadow: 5px 5px 5px #00497d;
  text-align: center;
}
.sodexotext {
  padding-left:5px;
  font-size:16px;
  color:#00497d;
}

#sback {
  float:right;
  display: block;
	width: 80px;
	height: 80px;
  cursor:pointer;
}

.shadow {
	box-shadow:0px 0px 10px 10px #ddd;
}
