#shirt {
  position: absolute;
  top: 500px;
  left: 500px;
  width: 100px;
  height: 100px;
  cursor:pointer;
}

#dsodexo {
  margin-left:100px;
  margin-top:200px;
  background-color:#FFF;
  opacity:0.95;
  border-radius:10px;
  width:750px;
  height:500px;
  display:none;
  box-shadow: 0px 0px 5px 5px #00497d;
  position:absolute;
}

#slogo {
  padding-left:20px;
}

#cook2 {
  width:300px;
  height:400px;
  margin-top:30px;
  background-image: url(../img/cook_das.png);
  background-repeat: no-repeat;
}
#info {
  width:450px;
  height:410px;
  float:right;
  margin-top:-425px;
  margin-right:15px;
  box-shadow: 5px 5px 5px #00497d;
  text-align: center;
}
.sodexotext {
  padding-left:5px;
  font-size:16px;
  color:#00497d;
}

#sback {
  float:right;
  display: block;
	width: 80px;
	height: 80px;
  cursor:pointer;
}

.shadow {
	box-shadow:0px 0px 10px 10px #ddd;
}
